<div class="alert alert-{{type}} tip-alert" style="{{#if left}}left:{{left}}px;{{/if}}{{#if top}}top:{{top}}px;{{/if}}{{#if width}}width:{{width}}px;{{/if}}{{#if zIndex}}z-index: {{zIndex}}{{/if}}">
  <div class="alert-icon">
    <i class="icon-{{type}}" style="display:block;"></i>
  </div>
  <div class="alert-message">
    <h3>{{title}}</h3>
    <p>{{message}}</p>
  </div>
</div>
