<div class="progress zcy-progress center">
  <ol>
    <li class="progress-step {{fill-info}}">
      <span class="progress-step-number">1</span><br>
    </li>
    <li class="progress-step-info {{fill-info}}">填写基本信息</li>
    <li class="progress-bar {{fill-info}}"></li>
    <li class="progress-step {{set-new}}">
      <span class="progress-step-number">2</span><br>
    </li>
    <li class="progress-step-info {{set-new}}">重设密码</li>
    <li class="progress-bar  {{success}}"></li>
    <li class="progress-step  {{success}}">
      <span class="progress-step-number">3</span><br>
    </li>
    <li class="progress-step-info  {{success}}">找回成功</li>
  </ol>
</div>
